@model LineCon.Models.ViewModels.App.IndexViewModel
@{
    ViewData["Title"] = "LineCon";
}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome to LineCon!</h1>
        <p>Waiting in line so you don't have to</p>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        @using (Html.BeginForm(FormMethod.Post))
        {
            @Html.HiddenFor(m => m.NewAttendee.ConventionId)

            @Html.EditorFor(m => m.NewAttendee.BadgeName)

            @if (Model.RequireConfirmationNumber)
            {
                <p>Please enter your confirmation number. (required)</p>
            }
            else
            {
                <p>Optional: enter your confirmation number. This will allow you to change your position in line later.</p>
            }

            @Html.EditorFor(m => m.NewAttendee.ConfirmationNumber)

            <p>A select for the ticket window you want will go here.</p>

            <button type="submit">Save</button>
        }
    </div>
</div>
