@{
    ViewData["Title"] = "LineCon";
}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome to LineCon!</h1>
        <p>Waiting in line so you don't have to</p>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <h2>Get a ticket</h2>
        <p>Scan this QR code to get in line</p>
        <p>QR code here</p>
        <p>Or go to linecon.com/nerokcon</p>
    </div>
</div>
