@model LineCon.Models.ViewModels.Admin.AdminConsoleViewModel
@{
    ViewData["Title"] = "Admin Console - LineCon";
}

@section scripts {
    <script src="~/js/conConfigEditorTemplate.js"></script>
}

<div class="row">
    <div class="col-md-12">
        <h1>LineCon Admin Console</h1>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <h2>Convention configuration</h2>
        @using (Html.BeginForm("Index", "Admin", FormMethod.Post))
        {
            @Html.EditorFor(m => m.ConConfig)

            <div class="row">
                @Html.LabelFor(m => m.ConConfig.RegistrationHours)
                <div id="hours-list">
                    @Html.EditorForMany(m => m.ConConfig.RegistrationHours, x => x.RegistrationHoursId.ToString())
                </div>
                <input type="button" id="add-hours" onclick="hoursList.add()" value="Add" />
            </div>


            <button type="submit">Save</button>
        }
    </div>
</div>